.*
!.gitignore
*.xlsx
*.env
schematics_old/*.lck
schematics_old/buhpod-backups
schematics_old/#auto_saved_files#
PCB/*.lck
PCB/buhPod_PCB/buhPod_PCB-backups
PCB/buhPod_PCB/#auto_saved_files#
PCB/buhPod_PCB/~*